<h1>Welcome</h1>

<p>
  This is a very simple and small education management system.
  It included student and leave features.
  Kindly login to use those features as well.
</p>

<p>
  Author: Luke
  Email: luke.yuxuan.0928@gmail.com
  Github: https://github.com/lukyuxuan0928
  Linkedin: https://www.linkedin.com/in/lukyuxuan0928/
</p>
