<h1>Welcome</h1>

<p>
  This is a very simple and small education management system.
</p>
<p>
  It included student and leave features.
</p>
<p>
  Kindly login to use those features as well.
</p>

<p>
  <h5>Author</h5> : Luke
</p>
<p>
  <h5>Email</h5> : luke.yuxuan.0928@gmail.com
</p>
<p>
  <h5>Github</h5> : https://github.com/lukyuxuan0928
</p>
<p>
  <h5>Linkedin</h5> : https://www.linkedin.com/in/lukyuxuan0928/
</p>
