<h1>Welcome</h1>
<br/>
<p>
  This is a very simple and small education management system.
</p>
<p>
  It included student and leave features.
</p>
<p>
  Kindly login to use those features as well.
</p>
<br/>
<p>
Author : Luke
</p>
<p>
Email: luke.yuxuan.0928@gmail.com
</p>
<p>
Github : https://github.com/lukyuxuan0928
</p>
<p>
Linkedin: https://www.linkedin.com/in/lukyuxuan0928/
</p>
